<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  @for (recipe of recipes; track recipe._id) {
    <ion-card [routerLink]="['/recipe', recipe._id]">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>{{recipe.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{recipe.description}}
      </ion-card-content>
    </ion-card> 
  }
</ion-content>

<app-footer></app-footer>