.profile {
    --border-style: none;
}
.custom-container {
    display: flex;
    justify-content: center; 
}
ion-card {
    img {
        display: block;
        margin: 0 auto; 
        margin-top: 10px;
        width: 90%; 
        height: auto; 
    }
}
