<ion-header class="header">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-list>
    <ion-item class="profile">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="Avatar" [src]="'http://localhost:3333/images/' + user.photo" />
      </ion-avatar>
      <ion-label class="secondary-color">{{user.name}}</ion-label>
    </ion-item>
    <ion-item class="profile">
      <ion-label class="secondary-color">{{user.description}}</ion-label>
    </ion-item>
  </ion-list>

  <div class="custom-container">
    <ng-container *ngIf="showButton">
      <ion-button color="tertiary" class="custom-button" [routerLink]="['/addRecipe']">Add recipe</ion-button>
    </ng-container>
    <ng-container *ngIf="showButton">
      <ion-button color="tertiary" class="custom-button" [routerLink]="['/savedRecipes']">Saved Recipes</ion-button>
    </ng-container>
  </div>

  <!--<ion-card *ngFor="let recipe of recipes; let i = index">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{recipe.title}}</ion-card-title>
    </ion-card-header>
  </ion-card>-->
  <ion-row>
    <ion-col size="12" size-sm="6" size-md="4" *ngFor="let recipe of recipes; let i = index">
      <ion-card [routerLink]="['/recipe', recipe._id]">
        <img alt="Silhouette of mountains" [src]="'http://localhost:3333/images/' + recipe.main_photo" />
        <ion-card-header>
          <ion-card-title class="secondary-color">{{recipe.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<app-footer></app-footer>