<ion-header class="header">
  <ion-toolbar class="header-inspection">
    <ion-title>Recipe Inspection</ion-title>
    <ion-buttons>
      <ion-button (click)="changeSaved()">
        <ion-icon name="heart" [color]="saved ? 'danger' : 'light'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content [fullscreen]="false">
  <h2>{{recipe.title}}</h2>
  <img id="recipeImg" alt="Silhouette of mountains" [src]="'http://localhost:3333/images/' + recipe.main_photo" />
  <ion-list>
    <ion-list-header>
      <ion-label>Ingredients</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let ingredient of recipe.ingredients">
      <ion-label>- {{ ingredient }}</ion-label>
    </ion-item>
  </ion-list>
  <h2>Steps</h2>
  <div *ngFor="let step of recipe.instructions; let i = index">
    <p class="stepText">Step {{i+1}}: {{step.title}}</p>
    <p class="stepDescription">{{step.description}}</p>
    <!--<img class="stepImg" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"/>-->
  </div>
</ion-content>

<app-footer></app-footer>