<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card>
    <form [formGroup]="formRegister" (ngSubmit)="onSubmit($event)">
      <ion-item>
        <ion-input label="User name" labelPlacement="floating" placeholder="User name" formControlName="name"></ion-input>
        <ion-note slot="error" *ngIf="checkError('name', 'required')">
          User's name field is required
        </ion-note>
        <ion-note slot="error" *ngIf="checkError('name', 'maxLength')">
          User's name field must be maximum 50 characters
        </ion-note>
        <ion-note slot="error" *ngIf="checkError('name', 'minLength')">
          User's name field must be minimum 5 characters
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" type="email" placeholder="Email" formControlName="email"></ion-input>
        <ion-note slot="error">Email is required</ion-note>
      </ion-item>
      <ion-item>
        <ion-input label="Description" labelPlacement="floating" placeholder="Description" formControlName="description"></ion-input>
        <ion-note slot="error">Description's field must be minimum length 5 and maximum 100</ion-note>
      </ion-item>
      <ion-item>
        <ion-input label="Password" labelPlacement="floating" type="password" formControlName="password"></ion-input>
        <ion-note slot="error">Password's field must be minimum length 5</ion-note>
      </ion-item>
      <ion-item>
        <ion-input label="Photo" labelPlacement="floating" type="file" (change)="onFileSelected($event)"></ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="!formRegister.valid">Accept</ion-button>
    </form>
  </ion-card>
</ion-content>

<app-footer></app-footer>
